@{
    Layout = null;
}

<link rel="stylesheet" href="~/Content/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="~/Content/freelancer.min.css" />

<html>
<body>
    <footer class="text-center" style="text-align:center; margin-top:3px;">
        <div class="footer-below" style="background-color:white;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-11" style="text-align:center; font-weight:bold; font-size:larger; color:#673AB7;">
                        Copyright &copy; NQ Enterprises 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>